# ================= ROS =================
build/
devel/
log/
3rd_party/

# ================= C++ =================
*.o
*.so
*.a

# ================= Python =================
__pycache__/
*.pyc

# ================= Data =================
*.bag
*.pcd
*.tar.gz

# FAST-LIO runtime output (generated locally)
/src/realflight_modules/FAST_LIO/Log/mat_pre.txt

# ================= IDE =================
.vscode/
.idea/

# ================= System =================
.DS_Store
